$light-grey-color:#eeebeb;

#front {

    #sidebar-menu{

    }

    #the-wall{
        .post-form{

            padding:5px 0;
            margin-bottom:10px;

            .submit-post-div{
                text-align:right;

                input[type=submit]{
                    border: 0;
                    background: $light-grey-color;
                    padding: 7px;
                    border-radius: 2px;
                    &::hover{
                        background: darken($light-grey-color, 10%);
                    }
                }
            }

            .textarea-post{
                border: 1px solid $light-grey-color;
                width: 100%;
                padding: 10px;
            }
        }
    }

    .post{
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        background:white;

        p{
            margin:0;
        }
    }

}
